.App {
  text-align: center;
  background-color: #282c34;
  
}

.App-link {
  color: #61dafb;
}

.row {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}

.column {
  flex: 50%;
  color: white;
}

.header {
  font-size: calc(40px + 2vmin);
}

.button {
  background:#ff9933;
  border-radius: 15px;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 32px;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}